<meta charset='utf-8'>
<meta name="description" content="OfThat: Brandt Redd on Education, Technology, Energy, and Trust " />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="FileMeta" />
<meta property="og:description" content="OfThat Blog" />
<meta property="og:image" content="https://x.ofthat.com/res/RSS.png" />
<meta property="og:site_name" content="OfThat" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@BrandtRedd" />
<meta name="twitter:image" content="https://x.ofthat.com/res/RSS.png" />
<link rel="stylesheet" type="text/css" href="/res/OfThat.css" />
<link rel="shortcut icon" href="/res/RSS.png">
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
